@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Recursive:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.filter-custom {
  filter: blur(3px) contrast(1.1);
}

.h-screen-minus-navbar {
  height: calc(100vh - 60px);
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid rgb(226 232 240);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(226 232 240) }
}

.typewriter-line-1,
.typewriter-line-2 {
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
}

.typewriter-line-1 {
  border-right: .15em solid transparent;
  animation: animated-text__1 3s steps(30, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(30, end) 3.5;
}

.typewriter-line-2 {
  border-right: .15em solid transparent;
  animation: animated-text__2 3s steps(30, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(30, end) infinite;
  -webkit-animation-delay: 3.15s;
  animation-delay: 3.15s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgb(226 232 240);
  }
}

@-webkit-keyframes animated-cursor__1 {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgb(226 232 240);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgb(226 232 240);
  }
}

@-webkit-keyframes animated-cursor__2 {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgb(226 232 240);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.slide-in {
  position: absolute;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
}

@keyframes slide-in {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateY(0%); }
}

@keyframes slide-out {
  0% { transform: translateY(0%); }
  100% { transform: translateY(100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateY(0%); }
  100% { -webkit-transform: translateY(100%); }
}

.twist {
  animation: twist 8s infinite forwards;
}

.twist:hover {
  animation: none;
}

@keyframes twist{
  0% { transform: rotate(0deg);}
  50% { transform: rotate(-10deg);}
  75% { transform: rotate(10deg);}
  100% { transform: rotate(0deg);}
}